[Desktop Entry]
Name=Cachy-Update
Comment[fr]=Un notificateur & applicateur de mises à jour pour Cachy Linux
Comment=An update notifier & applier for Cachy Linux
Icon=cachy-update-blue
Type=Application
Terminal=true
Exec=arch-update
Categories=Utility
