[Desktop Entry]
Name=Cachy-Update
Comment[fr]=Un notificateur & applicateur de mises à jour pour CachyOS
Comment=An update notifier & applier for CachyOS
Icon=cachy-update-blue
Type=Application
Terminal=true
Exec=arch-update
Categories=Utility
